<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<remove name="OPTIONSVerbHandler" />
		</handlers>
		<rewrite>
			<rules>
				<rule name="Imported Rule 1" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{R:1}" pattern="^(dir_path\.php|lolaround|lolaround\.php|app_assets)" ignoreCase="false" negate="true" />
					</conditions>
					<action type="Rewrite" url="lolaround.php/{R:1}" />
				</rule>
				<rule name="Imported Rule 2" stopProcessing="true">
					<match url="lolaround/(.*)" ignoreCase="false" />
					<action type="Rewrite" url="/lolaround.php/{R:1}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
